div {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: auto; 
    height:600px;
    position: relative;
   
}

#dog {
    border-radius: 50%;
    border: 0.5px dotted rgb(226, 226, 238); 
    position: absolute;
    height: 350px;
    width: 350px;
    object-fit: cover;
}